*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: Lato, sans-serif;
  background: #191A19;
}

.card {
  width: 20rem;
  min-height: 25rem;
  background: #191A19;
  position: absolute;
  color: #fff;
  border-radius: 5px;
  border-color: aliceblue;
  box-shadow: rgba(100, 100, 111, 1.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
}

.face1 {
  margin-top: 1.2rem;
}

.face1 h1 {
  font-size: 2rem;
  margin-top: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: capitalize;
}

.face1 p {
  text-align: center;
  padding: 1rem;
  line-height: 1.3rem;
}

.face2 {
  background: url("Image.jpg");
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card:hover .face2 {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  top: 50px;
  left: 38%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #fff;
}
